*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* BACKGROUND HEADER */

div.header-img {
  width: 100%;
  height: 210px;
  background-image: url(img/background-landing.jpg);
  background-size: cover;
  position: fixed;
  z-index: 99;
}
